Package: python-docker
Version: 1.10.6-1
Architecture: all
Maintainer: Felipe Sateler <fsateler@debian.org>
Installed-Size: 192
Depends: python-dockerpycreds, python-requests, python-six (>= 1.4.0), python-websocket, python:any (<< 2.8), python:any (>= 2.7.5-5~), python-backports.ssl-match-hostname (>= 3.5), python-ipaddress (>= 1.0.16)
Section: python
Priority: optional
Homepage: https://github.com/dotcloud/docker-py/
Description: Python wrapper to access docker.io's control socket
 This package contains oodles of routines that aid in controlling
 docker.io over it's socket control, the same way the docker.io
 client controls the daemon.
 .
 This package provides Python 2 module bindings only.
