Package: python3-docker
Source: python-docker
Version: 1.10.6-1
Architecture: all
Maintainer: Felipe Sateler <fsateler@debian.org>
Installed-Size: 192
Depends: python3-dockerpycreds, python3-requests (>= 2.5.3~), python3-six (>= 1.4.0), python3-websocket (>= 0.32.0~), python3:any (>= 3.5~)
Section: python
Priority: optional
Homepage: https://github.com/dotcloud/docker-py/
Description: Python 3 wrapper to access docker.io's control socket
 This package contains oodles of routines that aid in controlling
 docker.io over it's socket control, the same way the docker.io
 client controls the daemon.
 .
 This package provides Python 3 module bindings only.
